<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>


<div class="box">
  
<% newListItems.forEach((item)=>{ %>
  <form action="/delete" method="post">
  <div class="item">
    <%# bellow input checkbox has an "onChange event that submits this form instead of a submit button"  %>
    <%# when this checkbox is checked it deletes an item %>
    <input type="checkbox" name="deleteItem" value="<%= item._id %>" onChange="this.form.submit()">
    <p><%=  item.name  %></p>
  </div>
  <%# this below input has a type "hidden" which a value "listTitle" which is dynamic %>
  <input type="hidden" name="listName" value="<%= listTitle %>"></input>
</form>
<% }) %>


    <%# Posts new item entered in input to app.post  %>
      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value="<%= listTitle %>" >+</button>
      </form>
  </div>

<%- include("footer") -%>
